{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Mon BG de Site de Recettes incroyable mais vraies </h1>
<img
  src="https://i.ytimg.com/vi/A0d04sDYwJg/maxresdefault.jpg" class="w-50"
  alt="image" />
{% endblock %}
